body {
    background: darkmagenta;
}
#header_box {
    background-color: magenta;
    margin: 0;
    padding-top: 16px;
    padding-left: 64px; 
    width:100%;
    height:128px;
}
p {
    padding: 22px;
    font-family: Monaco, sans-serif;
    font-size: 18px;
    color: lightpink;
}
#header_box h1{
    padding-top: 16px;
}
#content a{
    padding:22px;
}
#content h1 {
    padding:22px;
}
#content a:link {
    color: orchid;
}
#stamp {
    color: pink;
}

a {
    
    font-family: Monaco, monospace;
}
h1 {

    font-family: Monaco, monospace;
    color:pink;

}
a:link {
    
    padding: 22px;
    color: darkorchid;
    text-decoration: none;
}
a:visited {
    color: darkorchid;
    
    text-decoration:none;
}
