body {
    background: darkmagenta;
}
#header_box {
    background-color: magenta;
    margin: 0;
    padding-top: 16px;
    padding-left: 64px; 
    width:100%;
    height:100px;
}
p {
    padding: 22px;
    font-family: Monaco, sans-serif;
    font-size: 18px;
    color: lightpink;
}
#stamp {
    color: pink;
}
a {
    
    font-family: Monaco, monospace;
}
h1 {

    font-family: Monaco, monospace;
    color:pink;

}
a:link {
    
    padding: 32px;
    color: darkorchid;
    text-decoration: none;
}
a:visited {
    color: darkorchid;
    
    text-decoration:none;
}
